<app-header></app-header>

<router-outlet></router-outlet>
<app-footer></app-footer>
<!--<app-landingpage></app-landingpage>-->
<!--<app-signin></app-signin>-->
<!--<app-electronics></app-electronics>-->
<!-- <app-product1-description></app-product1-description> -->
 <!-- <app-product2-description></app-product2-description> -->
  <!-- <app-cart></app-cart> -->
   <!-- <app-signup></app-signup> -->
<!-- <app-payments></app-payments> -->
 <!-- <app-order-confirmation></app-order-confirmation> -->
 


